*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(71, 71, 71);
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9%;
}

.formulario
{
    padding: 30px;
    background-color: rgb(189, 189, 189);
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    border-radius: 50px;       
}

.campos
{
    gap: 10px;
    display: flex;
    flex-direction: column; 
}

.campos input
{
    width: 427px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}

.campos button
{
    margin-top: 10px;
    align-self: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(212, 212, 212);
}
